@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

/* presets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}
button,
button:active,
button:focus {
  outline: none;
}

/* css variables for colors */
:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --bg-color: hsl(185, 41%, 84%);
  --white: hsl(0, 0%, 100%);
  --dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --input-color: hsl(189, 41%, 97%);
}

/* main page styling */
html {
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 60px;
  position: relative;
  top: -55px;
}

.container {
  background-color: var(--white);
  padding: 20px 10px;
  display: flex;
  border-radius: 20px;
  max-width: 45%;
  justify-content: space-between;
}

.right,
.left {
  width: 50%;
  padding: 10px 20px;
}
.left form {
  display: flex;
  flex-direction: column;
}
.left .input1,
.left .input2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
label {
  font-weight: 700;
  font-size: 10px;
  color: var(--dark-grayish-cyan);
  margin-bottom: 5px;
}
.left .input1 span,
.left .input2 span {
  position: absolute;
  bottom: 4px;
  left: 10px;
  font-weight: 400;
  color: hsl(184, 14%, 56%);
}
.left .input2 span img {
  width: 9px;
}
.input1 input,
.input2 input {
  background-color: hsl(189, 41%, 97%);
  padding: 0 10px;
  border-radius: 3px;
  text-align: right;
  font-size: 20px;
  color: var(--dark-cyan);
  font-weight: 700;
  border: 2px solid transparent;
}
input:active,
input:focus {
  outline: none;
  border: 2px solid var(--strong-cyan);
}
.input1 input::placeholder,
.input2 input::placeholder {
  color: var(--light-grayish-cyan);
  font-size: 18px;
}
.tip-amounts-container {
  margin: 20px 0;
}
.tip-amounts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  top: -3px;
}
.tip-amounts * {
  width: 91%;
  margin-top: 10px;
  height: 30px;
  color: var(--white);
  font-weight: 700;
  background-color: var(--dark-cyan);
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 15px;
}
.tip-amounts input {
  text-align: right;
  padding-right: 8px;
  background-color: var(--input-color);
  color: var(--dark-cyan);
}
.tip-amounts input::placeholder {
  text-align: center;
  position: relative;
  right: -4px;
}
.labels {
  display: flex;
  justify-content: space-between;
}
.labelE {
  display: none;
}
.labelE.active {
  display: block;
  color: #e50914;
}
.input2 input.active {
  border: 1px solid #e50914;
}
.right {
  background-color: var(--dark-cyan);
  border-radius: 10px;
  padding: 25px 25px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  width: 47%;
  position: relative;
  right: 10px;
}

.conts {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-between;
}

.cont1,
.cont2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cont1 span:first-child,
.cont2 span:first-child {
  color: var(--white);
  font-size: 10px;
  position: relative;
  top: -5px;
}

.cont1 span:first-child::after,
.cont2 span:first-child::after {
  content: "/ person";
  position: absolute;
  left: 0;
  top: 14px;
  font-size: 9px;
  color: var(--light-grayish-cyan);
  font-weight: lighter;
  width: max-content;
}

#tipTotal,
#tipAmount {
  color: var(--strong-cyan);
  font-size: 30px;
  font-weight: 700;
}
.right button {
  background-color: var(--strong-cyan);
  color: var(--dark-cyan);
  text-transform: uppercase;
  height: 30px;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 13px;
}
.right button.disabled {
  color: var(--dark-cyan);
  background-color: var(--dark-grayish-cyan);
}

/* active state styles */

.tip-amount:hover {
  background-color: var(--bg-color);
  color: var(--dark-cyan);
}
.tip-amount.active {
  background-color: var(--strong-cyan);
  color: var(--dark-cyan);
}

/* media queries for responsive design */

@media (max-width: 992px) {
  .container {
    max-width: 65%;
  }
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    max-width: 80%;
  }

  .right,
  .left {
    width: 100%;
    padding: 10px 20px;
  }
  .right {
    border-radius: 10px;
    padding: 25px 25px;

    width: 100%;
    right: 0;
    margin-top: 20px;
  }
  .conts {
    height: 50%;
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .container {
    flex-direction: column;
    max-width: 90%;
  }

  .right,
  .left {
    width: 100%;
    padding: 10px 20px;
  }
  .right {
    border-radius: 10px;
    padding: 25px 25px;

    width: 100%;
    right: 0;
    margin-top: 20px;
  }
  .conts {
    height: 50%;
    margin-bottom: 20px;
  }
}
